* {
    box-sizing: border-box;
}

html, body {
    background-color: #383737;
    /*background-color: #fff;*/
    color: rgb(231, 231, 231);
    min-width: 1024px;
    min-height: 730px;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    margin: 0;
}

div {
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.App {
    max-width: 1920px;
    min-height: 652px;
    position: fixed;
    width: 100%;
    min-width: 1024px;
    top: 48px;
    bottom: 30px;
    padding: 20px;
    overflow-y: auto;
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

div.flex {
    display: flex;
}

::-webkit-scrollbar-corner {
    background-color: #222;
}

::-webkit-scrollbar-track {
    background-color: #222;
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 6px;
    height: 6px;
    border: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    /*border-top: 2px solid rgba(0,0,0,0);*/
    /*border-bottom: 2px solid rgba(0,0,0,0);*/
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #44d62c;
    border: 1px solid rgba(0, 0, 0, 0);
    /*border-radius: 4px;*/
    /*width: 6px;*/
    /*border: 1px solid rgba(0, 0, 0, 0);*/
    /*border-top: 2px solid rgba(0,0,0,0);*/
    /*border-bottom: 2px solid rgba(0,0,0,0);*/
    background-clip: padding-box;
    /*background-clip: padding-box;*/
}

::-webkit-scrollbar-thumb:active {
    background: #2F941E;
    border: 1px solid rgba(0, 0, 0, 0);
    /*border-radius: 4px;*/
    /*width: 6px;*/
    /*border: 1px solid rgba(0, 0, 0, 0);*/
    /*border-top: 2px solid rgba(0,0,0,0);*/
    /*border-bottom: 2px solid rgba(0,0,0,0);*/
    background-clip: padding-box;
    /*background-clip: padding-box;*/
}