.RightSide {
    z-index: 98;
    background-color: #111;
    position: relative;
    left: 0px;
    max-height: 640px;
    margin: 5% 5% 0% 3%;
    width: 70%;
    border-radius: 2%;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.SpaceSide {
    z-index: 98;
    background-color: #111;
    position: relative;
    left: 0px;
    max-height: 640px;
    width: 100%;
    height: 100%;
    margin-top: 3px;
}

.item>.icon {
    height: 28px;
    width: 28px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-right: 15px;
}

.item {
    height: 50px;
    border: none;
    text-transform: capitalize;
    padding: 5px 10px 5px 36px;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 99;
    align-items: center;
    border-bottom: 5px solid #383737;
    margin-top: 3px;
    background-color: #111111
}

.item>.icon.console {
    background-image: url('../../../assets/img_ui/icon_console.svg');
}

.item>.icon.keyboard {
    background-image: url('../../../assets/img_ui/icon_keyboard.svg');
}

.item>.icon.launch {
    background-image: url('../../../assets/img_ui/icon_launch.svg');
}

.item>.icon.loop {
    background-image: url('../../../assets/img_ui/icon_loop.svg');
}

.item>.icon.macro {
    background-image: url('../../../assets/img_ui/icon_macro.svg');
}

.item>.icon.mouse {
    background-image: url('../../../assets/img_ui/icon_mouse.svg');
}

.item>.icon.multimedia {
    background-image: url('../../../assets/img_ui/icon_multimedia.svg');
}

.item>.icon.switch {
    background-image: url('../../../assets/img_ui/icon_switch.svg');
}

.item>.icon.switch_light {
    background-image: url('../../../assets/img_ui/icon_switch_light.svg');
}

.item>.icon.text_function {
    background-image: url('../../../assets/img_ui/icon_text_function.svg');
}

.item>.icon.delay {
    background-image: url('../../../assets/img_ui/icon_time.svg');
}

.item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

#style-1::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #000000;
}

@keyframes ticktop {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: calc(20px * 0.77);
    }
}

@keyframes tickbottom {
    0% {
        height: 0;
    }
    100% {
        height: calc(20px * 0.48);
    }
}

input[type="checkbox"] {
    display: none;
}

.check-item {
    top: 7px;
    position: relative;
    margin-bottom: 9px;
    will-change: opacity;
    transition: opacity .3s;
}

.check-box {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: calc(20px * 0.05) solid #737373;
    border-radius: calc(20px * 0.12);
    position: relative;
    /*top: 4px;*/
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease calc(.3s);
    cursor: pointer;
    margin-right: 10px;
}

.check-box:hover {
    border-color: #44d62c;
}

.check-box::before, .check-box::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(20px * 0.15);
    background-color: rgba(0, 0, 0, 0.3);
    background-color: #111;
    display: inline-block;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: calc(20px * 0.12);
    content: " ";
    -webkit-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}

.check-box::before {
    top: calc(20px * 0.82);
    left: calc(20px * 0.43);
    /*box-shadow: 0 0 0 calc(20px * 0.05) #111;*/
    -webkit-transform: rotate(-145deg);
    transform: rotate(-145deg);
}

.check-box::after {
    top: calc(20px * 0.51);
    left: calc(20px * 0.04);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

input[type="checkbox"]:checked+.check-box, .check-box.checked {
    border-color: #44d62c;
    background-color: #44d62c;
}

input[type="checkbox"]:checked+.check-box::after, .check-box.checked::after {
    height: calc(20px * 0.48);
    animation: tickbottom calc(.2s/2) ease 0s forwards;
}

input[type="checkbox"]:checked+.check-box::before, .check-box.checked::before {
    height: calc(20px * 0.77);
    animation: ticktop .2s ease 0s forwards;
}