.RightSide {
    z-index: 98;
    background-color: transparent;
	position: relative;
    left: 0px;
    max-height: 640px;
    margin: 5% 5% 0% 3%;
    width: 70%;
    border-radius: 5%;
}

.SpaceSide {
    z-index: 98;
    background-color: #111;
	position: relative;
    left: 0px;
    max-height: 640px;
    width: 100%;
    height: 100%;
}