.Action {
    background-image: url('../../../../assets/img_ui/icon_more.svg');
    width: 26px;
    height: 26px;
    margin-right: 10px;
    background-size: 20px;
	border: 1px solid #222;   
    border-color: #222;
    background-repeat: no-repeat;
    background-position: center;

    will-change: border-color;
    transition: border-color 0.2s;
}

.Action:hover{
    border-color: #5d5d5d;
	cursor: pointer;
}

.hover-border {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    background-size: 20px;
    border: 1px solid #222;
    border-color: #222;
    background-repeat: no-repeat;
    background-position: center;
    will-change: border-color;
    transition: border-color 0.2s;
}

.hover-border:hover {
    border-color: #5d5d5d;
    cursor: pointer;
}